<h1> MentorED </h1>

<div class= "container text-center">
<%= button_to "Student login", new_student_session_path, method: :get, class:"btn-testy" %>
<br>
<%= button_to "Mentor login", new_mentor_session_path, method: :get, class:"btn-testy" %>
</div>
